<style>
* {
    box-sizing: border-box;
}
.header {
    border: 1px solid red;
    padding: 15px;
}
.menu {
    width: 25%;
    float: left;
    padding: 15px;
    border: none;
}
.main {

    width: 75%;
    float: left;

}
</style>

<div class="main">
	<img src="http://www.hindustantimes.com/rf/image_size_640x362/HT/p2/2016/06/08/Pictures/kabali-poster_3526d2d2-2d62-11e6-ae51-029221314c47.jpg" alt="Mountain View" >
</div>
<div class="menu">
<h1>This month Movie status</h1>
<ol>
<% @movies.each do |movie| %>
<h3><li><%= movie.title %></li></h3>
<% end %>
</ol>

</div>